#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }

  #result h3{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Gowun Batang', serif;
  }
  
  .resultname{
    font-size: 28px;
    font-weight: bolder;
  }
  
  .resultDesc{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 400;
  }

  .resultJob{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .kakao{
    color: white;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
  }
  
  .kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #FEE500;
  }
  